body{
    margin: 0;
    min-height: 100 vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 34, 32);
}

h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #10D4A9, 0 0 30px #10D4A9, 0 0 40px #10D4A9, 0 0 50px #10D4A9
  }

.reloj {
    border: 1rem solid rgb(186, 236, 225);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50vh;
    font-family: monospace;
    font-size: 3rem;
    color: rgb(6, 252, 129);
    background: linear-gradient(to bottom right, #1a2220, #0f4c5c);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
 }


