*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(65, 3, 56);
}

.reloj{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../IMG/reloj.png);
    background-size: cover;
    border: 1rem solid rgb(8, 255, 181);
    border-radius: 50vh;
    box-shadow: inset 0px 0px 20px 5px rgb(8, 255, 222);
}

.reloj::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(34, 219, 252);
    border-radius: 50vh;
    z-index: 100;
}

.hora{
    width: 150px;
    height: 150px;
}

.minuto{
    width: 220px;
    height: 220px;
}

.segundo{
    width: 250px;
    height: 250px;
}

.hora::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 70px;
    background: rgb(196, 180, 255);
    z-index: 10;
    border-radius: 50vh;
}

.minuto::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 130px;
    background: rgb(127, 93, 252);
    z-index: 11;
    border-radius: 50vh; 
}

.segundo::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 150px;
    background: rgb(55, 0, 255);
    z-index: 12;
    border-radius: 50vh; 
}

.hora, .minuto, .segundo{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50vh;
}